<?xml version="1.0" encoding="UTF-8"?>
<configuration >
    <property name="log.filename" value="la-chacra-app"/>
    <springProfile name="dev">
        <property name="dir" value="./log/"/>
    </springProfile>
    <springProfile name="prod">
        <!-- ToDo: mirar cuando se haga deploy -->
        <property name="dir" value="/log/"/>
    </springProfile>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %highlight(%-5level) --- %boldMagenta([%thread]) %boldYellow([%logger{0}:%line]): %msg %ex{short}%n
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${dir}/${log.filename}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %5p [%t] %c{1}:%L - %m%ex{15}%nopex %n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${dir}/archived/${log.filename}-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="ERROR">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </root>
    <logger name="com.brikton" level="INFO" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </logger>
</configuration>